.wrapper {
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.open {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  background: linear-gradient(90deg, rgba(196, 187, 203, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(227, 220, 210, 1) 100%);
  padding: 2rem;
  border-radius: 1rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
    padding: 1rem .5rem;
  }
}