.content {
  margin: 0 auto;
  width: max-content;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  overflow: auto;
  max-width: 50%;
  flex: 2;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: wheat;
    padding: 1rem .5rem;
  }

  ul {
    max-width: 100%;
  }
}

.addCat {
  margin-top: 1rem;
  margin-right: 0;
  margin-left: auto;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}