.sidebar {
  background: var(--bg-radial);
  padding: 1rem;
  width: 30%;
  overflow-y: auto;
  overflow-x: hidden;

  h3 {
    font-size: 1.5rem;
    color: aliceblue;
    font-weight: bolder;
  }

  ul {
    margin-top: 1rem;
  }
}

.listItem {
  cursor: pointer;
  text-decoration-line: none;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem;
  gap: 1rem;
}

.addCat {
  margin-top: 1rem;
}

.activeCat {
  filter: brightness(150%);
}

.buttonAdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: #d6ecc3;
  border-radius: 1rem;
  padding: 2rem;
  opacity: 0;
  transition: all ease-in-out 0.3s;

  h3 {
    color: black;
    font-size: 1rem;
    font-weight: normal;
  }
}

.modalActive {
  opacity: 1;

}

@media (max-width: 768px) {
  .sidebar {
    width: 30vw;

    h3 {
      font-size: 1rem;
    }
  }
  .buttonAdd {
    flex-direction: column;
  }
}

