.sidebar {
  background: var(--bg-radial);
  padding: 1rem;
  width: 30%;
  overflow-y: auto;
  overflow-x: hidden;

  h3 {
    font-size: 1.5rem;
    color: aliceblue;
    font-weight: bolder;
  }

  ul {
    margin-top: 1rem;
  }
}

.listItem {
  cursor: pointer;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem;
  gap: 1rem;
}

.addCat {
  margin-top: 1rem;
}

.activeCat {
  filter: brightness(150%);
}

.buttonAdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .sidebar {
    width: 30vw;

    h3 {
      font-size: 1rem;
    }
  }
  .buttonAdd {
    flex-direction: column;
  }
}

